.tagline{
	height:40px;
	padding-top: 30px;
	text-align: center;
	color:white;

}

.img-responsive{
	margin: 0 auto;
}



.title{
	text-align: center;
	font-weight: 500;
	font-size: 40px;
}

h1{
	font-family: 'Vollkorn' , serif;
}

p{
	font-family: 'Kurale', serif;
	font-size:20px;
}

.center{
	text-align: center;
}

h4{
	font-family: ubuntu, sans-serif;
}